@import "../../utilities/styles/button";

.table th,
.table td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.table thead th {
  font-size: .65rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #e9ecef;
}

.productCheckbox {
  .form-check-input:checked {
    background-color: $WhatColor;
    border-color: white;
  }
}
.prodBtn {
  font-family: "Montserrat";
  background-color: $WhatColor !important;
  color: white !important;
  border-color: $WhatColor !important;
  width: 25%;
  margin-top: 15px;
  font-size: 14px;
  border-radius: 0 !important;
  &:hover {
      background-color: white!important ;
      color: black !important;
      border: solid 1px $WhatColor !important;
  }
} 